<br>
<p><b>City Livelihood Centre (CLC)</b> aims to support Urban Poor by providing them one stop solution to market their products and services and also can access information and other benefits. The CLC will act as a bridge between urban poor and middle and higher income groups who are accessing various services like security, carpentry, gardening, construction, plumbing, electrical work, health care support, housekeeping which in turn is provided by Urban Poor. The City Livelihood Centre should be formed as per the “NULM guidelines”. This will support the development of urban poor.</p>

<div class="col-sm-8">
  <h4>Objective</h4>
      <p style="text-align: justify;">Objective of the CLC is as follows : </p>
      <ol>
      <li>The urban poor can offer their goods and services in an organized manner to the potential buyers i.e. the CLC would strive to bridge the gap between demand and supply of the goods and services produced by the urban poor.</li>
      <li>The urban poor can access information and business support services as and when needed by them, which would otherwise not be accessible to them.</li>
      <li>The middle and higher income groups can access various services from urban poor which in turn will generate or augment livelihoods of the Urban Poor.</li>
      <li>The beneficiaries who are trained under Employment Skill Training and Placement will be enrolled under CLC and will be provided with huge market for employment.</li>
      <li>Develop various livelihood opportunities for Urban Poor.</li>
      <li>Hand holding support to Urban Poor wherever required.</li>
      <li>To provide space &amp; other facilities necessary to the institute/organizations willing to conduct skill training programmes / seminars /meetings sensitization programmes at the ULB.</li>
      <li>To extend all types of assistance to the urban poor required to access bank loans such as preparation of project proposals, registration of business units, abstention of trade license, other accounting and legal support wherever necessary.</li>
      <li>To liaise with local banks &amp; work in tandem with them for achieving the objective of financial inclusion.</li>
      <li>To assist banks in recovery of loans wherever warranted.</li>
      </ol>
  </div>