  <div class="upperbg">
        <div>
            <h3>Your <span>Cart</span></h3>
        <div class="afterhead">
            <div class="line">
                <div class="first"></div>
                <div class="second"></div>
            </div>
        </div>
        </div>
   
    </div>
<div class="col-sm-12 col-md-10 mx-auto">
    <div class="row">
        <div id="cart" class="col-md-12 top-marg-20">
            {{> (getTheme 'cart')}}
        </div>
    </div>
</div>