<div class="contact-main">
    <div class="contact-form">
        <h2>Drop Us Some Comment !</h2>
        <form action="">
            <div class="contact-item">
                <input type="text" id="name" name="name">
                <label for="name">Full Name</label>
            </div>
            <div class="contact-item">
                <input type="email" id="emailadd" name="emailadd">
                <label for="emailadd">Email Address</label>
            </div>
            <div class="contact-item">
                <input type="text" id="company" name="company">
                <label for="company">Company</label>
            </div>
            <div class="contact-item">
                <input type="text" id="message" name="message">
                <label for="message">Message</label>
            </div>
            <div class="contact-item">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
    <div class="contact-icon">
        <img src="/images/pen.png" alt="Pen and note">
    </div>
</div>