<div class="delivery-container">
    <div class="delivery-header">
        <h2><span>Delivery Information</span></h2>
    </div>
    <img src="/images/delivery.png" class="img-fluid" alt="On-demand Grocery Delivery">
    <div class="delivery-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio laboriosam, laudantium cupiditate rem eveniet at quae
            officiis ut accusantium animi nihil! Expedita iure autem ipsam impedit non culpa obcaecati enim.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, accusamus cum! Dolorum iure obcaecati laborum
            sit ullam illo sed et iste, eligendi corporis placeat repellendus, aliquam porro ratione expedita omnis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam eum natus optio quia expedita tempore. Saepe
            similique excepturi nisi tempore magni quaerat, asperiores, aspernatur quod perferendis in veniam ducimus cumque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, natus esse quam eveniet dolorem deleniti repellat
            nostrum at? Deserunt ratione culpa modi accusantium magnam cumque quod eligendi eos nihil neque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio laboriosam, laudantium cupiditate rem eveniet at quae
            officiis ut accusantium animi nihil! Expedita iure autem ipsam impedit non culpa obcaecati enim.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, accusamus cum! Dolorum iure obcaecati laborum
            sit ullam illo sed et iste, eligendi corporis placeat repellendus, aliquam porro ratione expedita omnis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam eum natus optio quia expedita tempore. Saepe
            similique excepturi nisi tempore magni quaerat, asperiores, aspernatur quod perferendis in veniam ducimus cumque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, natus esse quam eveniet dolorem deleniti repellat
            nostrum at? Deserunt ratione culpa modi accusantium magnam cumque quod eligendi eos nihil neque.</p>
    </div>
    <div class="delivery-list">
        <ul>
            <li><span>Slotted Delivery:</span> Pick the most convenient delivery slot to have your grocery delivered. From early morning delivery for
            early birds, to late-night delivery for people who work the late shift, our caters to every schedule.</li>
            <li><span>Express Delivery:</span> This super useful service can be availed by customers in cities like Bangalore, Mumbai, Pune, Chennai,
            Kolkata, Hyderabad and Delhi-NCR in which we deliver your orders to your doorstep in 90 Minutes.</li>
            <li><span>Specialty stores:</span> Missed out on buying that essential item from your favorite neighborhood store for tonight’s party?
            We’ll deliver it for you! From bakery, sweets and meat to flowers and chocolates, we deliver your order in 90 minutes,
            through a special arrangement with a nearby specialty store, verified by us.</li>
        </ul>
    </div>
</div>