<div class="privacy-container">
  <div class="privacy-header">
        <h2>
            <span>Privacy Policy</span>
        </h2>
        <p>
            Please read this privacy policy carefully to understand our practices regarding your personal data and how we will treat it. We has a focus on both privacy and security. 
           </p>
    </div>

    <div class="privacy-content">
        <div class="privacy-item">
            <h3><span>Privacy Policy</span></h3>
            <p>Visitors on our website may please note that your name, email address and other personal information submitted on our website may be stored with us purely for transactional purposes, and may only appear on the website with your explicit permission. Like other platforms our server log files also receive general information such as IP address of the visitor, cookie etc. With regard to financial transactions by Credit card / Debit card / Netbanking, Ghar2garage uses a 3rd party secure payment gateway and the credit card details are not stored with Ghar2garage Services, instead the information is securely stored and encrypted with Visa/MasterCard. We use ‘Cookies’ to keep track of your current shopping session to personalize your experience and so that you may retrieve your shopping cart at any time. ‘Cookies’ are tiny text files which our Website places on your computer’s hard drive to store information about your shopping session and to identify your computer.</p>
            <p>Other than for transactional purposes and unless required by law, We DO NOT share your Personally Identifiable Information (PII) with anybody.</p>
        </div>
        <div class="privacy-item">
            <h3><span>Personal Information</span></h3>
            <p>In connection to the services offered by Ghar2garage, personal information means and includes all information that can be linked to specific individual or to identify any individual, such as name, mobile number, email-id, credit card number, debit card number, card holder name, expiration date, account details that may have been provided by user to access the services. While browsing the Ghar2garage website, it may collect information regarding Internet Protocol (IP) address of computer, Internet Service Provider (ISP) you are using and anonymous statistical data.</p>
        </div>
        <div class="privacy-item">
            <h3><span>Cookies</span></h3>
            <p>A "cookie" is a small piece of information stored by a web server on a web browser so it can be later read back from that browser. Ghar2garage uses cookie and tracking technology depending on the features offered. No personal information will be collected via cookies and other tracking technology.</p>
        </div>

        <div class="privacy-item">
            <h3><span>Whatsapp Communication</span></h3>
        <p>We give our consent to receive transactional communications from Ghar2garage over WhatsApp channel on booking order through app and website.</p>
        </div>

        <div class="privacy-item">
            <h3><span>Security</span></h3>
            <p>Ghar2garage has stringent security measures in place to protect the loss, misuse and alteration of the information under its control. Once your information is in Ghar2garage 's possession it adheres to strict security guidelines, protecting it against unauthorized access.</p>
        </div>
    </div>
</div>