<div class="terms-container">
    <div class="terms-header">
        <h2><span>Terms</span></h2>
    </div>
    <div class="terms-top">
    <div class="terms-content">
         <h2><span>Terms & Conditions</span></h2>
        <ol type="1">
            <li>
                <div class="terms-content-title">Cancellations:</div>
                <div class="terms-content-desc">
                  Bookings can be cancelled up to 12 hours prior to your pickup time. If cancelled, the entire booking cost will have to be forfeited. In cases where the customer has made a prepaid service package booking, 50% of the prepaid package amount will be forfeited. Please understand that Ghar2garage cannot sell the slot to another customer at such a short notice, and incurs complete loss of business if bookings are cancelled within 12 hours prior to the pickup time.
                </div>
            </li>
            <li>
                <div class="terms-content-title">Rescheduling bookings:</div>
                <div class="terms-content-desc">
                   Bookings must be cancelled and a fresh booking made in order for them to be rescheduled. Cancellation rules apply as above.
                    <ul>
                  
                    </ul>
                </div>
            </li>
            <li>
                <div class="terms-content-title">Delay in pickup:</div>
                <div class="terms-content-desc">
                   Customer delay: Please note that our supervisor will not be able to wait beyond 30 mins from the pickup time. For example, for an 8 AM appointment, our supervisor will not be able to wait beyond 8:30 AM at your premises.
                </div>
            </li>

             <li>
                <div class="terms-content-title">Exclusions::</div>
                <div class="terms-content-desc">
                   Please note that aftermarket accessory repairs or installation are NOT taken up by Ghar2garage. In case you listed any aftermarket accessory related issue in your order, kindly note that those will be excluded.
                </div>
            </li>

             <li>
                <div class="terms-content-title">Post Service Payments and Advance Payments:</div>
                <div class="terms-content-desc">
                   Balance Payments: After service, you can conveniently pay us additional approved charges by logging on to our website, clicking on My Account, and then on the Orders. Payments can be made via NEFT / UPI. Please note that Credit / Debit card / Netbanking or Cash on Delivery.
                </div>
            </li>

             <li>
                <div class="terms-content-title">Advance Payments:</div>
                <div class="terms-content-desc">
                   Advance payments are requested in certain cases. We do this as Ghar2garage takes significant credit risk in a post paid service and is just a measure for mutual protection.
                </div>
            </li>

             <li>
                <div class="terms-content-title">Invoicing:</div>
                <div class="terms-content-desc">
                 Ghar2garage generates GST invoices, and emails them to customers at the time of delivery. A PDF version of the invoice is available on request. GST input credit is available on request, with valid GSTIN details.. Service Center invoices are not prepared or issued to Ghar2garage customers.
                </div>
            </li>

             <li>
                <div class="terms-content-title">Accidents:</div>
                <div class="terms-content-desc">
                  Our customers’ cars are precious to us and we take care of them like our own. However, given congested road conditions in Indian cities, in the rare event of an accident when the car is in our possession, the vehicle must be repaired under the comprehensive insurance cover owned by the registered car owner. Any difference amount between what the insurance policy pays for and what is actually paid at the service center will be borne by Ghar2garage. Ghar2garage  is committed to stay engaged with the customer until the car is brought back home after repairs.
                </div>
            </li>

             <li>
                <div class="terms-content-title">Situations beyond our control:</div>
                <div class="terms-content-desc">
                   Certain repairs might require spare parts that are not readily available at dealerships. Such situations are beyond our control and it is possible that such repairs are not completed on the day of service. We’re happy to help our customers in getting such tasks completed after spares become available. However, a new Service Assist booking will need to made for the subsequent service visit.
                </div>
            </li>

             <li>
                <div class="terms-content-title">Vehicles registered outside the state:</div>
                <div class="terms-content-desc">
                 Kindly note that in case your vehicle is stopped by RTO authorities enroute to the service center or back, you will be requested to come to the spot and take over control of the situation. Ghar2garage accepts the car for service at the sole risk of the registered owner.
                </div>
            </li>

              <li>
                <div class="terms-content-title">SMS and Email notifications:</div>
                <div class="terms-content-desc">
                    The customer hereby understands and provides consent to Ghar2garage to send periodic order updates from the time of order booking until order completion, via SMS and Email to the Mobile Number and Email address provided during order checkout.
                </div>
            </li>

              <li>
                <div class="terms-content-title">Referral program:</div>
                <div class="terms-content-desc">
                    • Referral coupons are credited to the customer who initiated the referral only the first time the referred customer makes a purchase, and not on subsequent purchases.
                   • The sum total of all Ghar2garage referral coupon values can be redeemed against payment towards service center actuals or against Ghar2garage packages, in one single transaction. The customer must call Ghar2garage to request redemption of coupons towards payments..
                </div>
            </li>

             <li>
                <div class="terms-content-title">Detailed terms of service:</div>
                <div class="terms-content-desc">
                   This document is an electronic record in terms of Information Technology Act, 2000 and rules there under as applicable and the amended provisions pertaining to electronic records in various statutes as amended by the Information Technology Act, 2000. This electronic record is generated by a computer system and does not require any physical or digital signatures.
This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use for access or usage of www.Ghar2garage.com website.
                </div>
            </li>

             <li>
                <div class="terms-content-title">Referral program:</div>
                <div class="terms-content-desc">
                    • Referral coupons are credited to the customer who initiated the referral only the first time the referred customer makes a purchase, and not on subsequent purchases.
                   • The sum total of all Ghar2garage referral coupon values can be redeemed against payment towards service center actuals or against Ghar2garage packages, in one single transaction. The customer must call Ghar2garage to request redemption of coupons towards payments..
                </div>
            </li>
        </ol>
    </div>
</div>