{{> partials/menu}}
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<main role="main" class="ml-sm-auto col-lg-10 px-4 checkout_details_area bg-light">
    <div class="col-sm-12">
        <h2>Vehicle</h2>
        {{#if vehicles}}
        <div id="draggable_list top-marg-25">
            
            <div class="row top-marg-25">
                {{#each vehicles}}
                <div class="col-sm-4 offset-sm-1">
                    <input class="form-control" type="text" value="{{this.title}}" disabled>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" href="/admin/settings/vehicle/edit/{{this._id}}">Edit</a>
                </div>
                <div class="col-sm-2">
                    <button class="deletecategory btn btn-danger" data-id="{{this._id}}">Delete</button>
                </div>
                {{#if this.submenu}}
                    <div class="col-sm-9 offset-sm-2 top-marg-25">
                        <h6>Submenu</h6>
                    <ol class="marg-left-10">
                        {{#each this.submenu}}
                        <li class="top-marg-10">{{this.name}}</li>
                        {{/each}}
                    </ol>
                </div>
                {{/if}}
       {{/each}}
        </div>
            
        </div>
        {{/if}}
        <div class="row top-marg-75">
            <div class="col-12">
                <h4>Add New Vehicle Company</h4>
            </div>
            <div class="col-sm-6 offset-sm-1 top-marg-25">
                <input type="text" class="form-control" style="border: 1px solid #666;" id="newNavCategories" placeholder="ex. Maruti, Suzuki">
            </div>
            <div class="col-sm-3 top-marg-25">
                <button type="submit" id="settings-categories-new" class="btn btn-success">
                    Add Company
                </button>
            </div>
        </div>
        <p class="text-muted mt-4">
            Company name for two wheler and four wheelere
        </p>
    </div>
</main>