
    <form action="/customer/confirm" method="post">
      <input type="tel" name="pin" placeholder="1234" required>
      <input type="hidden" name="requestId" value="{{requestId}}" >
      <input type="submit" value="Verify PIN">
  </form>
  